<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cd.xq_chart.module">

    <application>
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:name="com.cd.xq.module.chart.ChartRoomActivity"
            >

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:name="com.cd.xq.module.chart.DoubleRoomActivity">
        </activity>
    </application>
</manifest>
